<div class="sc-form form-group" ng-style="{'width': width}" style="margin:auto">
  <label ng-if="label != undefined" class="label-control">{{label}}</label>

  <div class="dropzone file-dropzone" ng-style="{'height': height}">
    <div ng-style="{'height': height, 'line-height': height}">{{placeholder}}</div>
    <input type="file" accept="*" ng-style="{'margin-top': '-' + height}"
           ng-disabled="isDisabled" multiple />
  </div>
  <div file-info>
    <div class="file-info-line" ng-repeat="file in localModel">
      <i class="fa fa-{{file.type | type}} fa-lg pull-left" aria-hidden="true" title="{{file.name}}" style="margin-top:4px;"></i>
      <span> {{file.name | name}}</span>
      <div class="pull-right" style="display:flex;">
        <span style="margin:auto;margin-right:5px;">{{file.size | size}}</span>
        <div ng-click="download()" class="progress-bar-button" style="width:30px;display:inline-block;margin-right:5px;"><i class="fa fa-download fa-lg" aria-hidden="true"></i></div>
        <div ng-click="delete()" class="progress-bar-button progress-bar-button-reset" style="width:30px;display:inline-block;"><i class="fa fa-trash fa-lg" aria-hidden="true" style="vertical-align:-7%;"></i></div>
      </div>
    </div>
  </div>
  <div ng-show="errorMsg" class="alert alert-danger">
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    <span>{{errorMsg}}</span>
  </div>
</div>
