<!DOCTYPE html>
<html ng-app="main">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="sc-form : ">

    <link rel="stylesheet" type="text/css" media="screen" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <link rel="stylesheet" type="text/css" media="screen" href="https://rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/css/bootstrap-datetimepicker.min.css">

    <title>sc-form</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/Scille/sc-form">View on GitHub</a>

          <h1 id="project_title">sc-form</h1>
          <h2 id="project_tagline"></h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/Scille/sc-form/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/Scille/sc-form/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        
        <h1><a id="scille-form-for-angularjs" class="anchor" href="#scille-form-for-angularjs" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Scille Form (for Angularjs)</h1>
        <p>A Form is a collection of Controls for AngularJS. Controls are ways for a user to enter data. This library is created by DUBOIS Romain and maintained by the Scille team.</p>

        <h2><a id="usage" class="anchor" href="#usage" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Usage</h2>

        <h3><a id="registration" class="anchor" href="#registration" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Registration</h3>
        <p>To be able to use the directive, you need to register the sc-form module as a dependency:</p>
<div class="highlight highlight-source-js"><pre><span class="pl-smi">angular</span>.<span class="pl-en">module</span>(<span class="pl-s"><span class="pl-pds">'</span>yourModule<span class="pl-pds">'</span></span>, [<span class="pl-s"><span class="pl-pds">'</span>sc-form<span class="pl-pds">'</span></span>
    <span class="pl-c">// other dependencies</span>
]);</pre></div>

        <h3><a id="directive" class="anchor" href="#directive" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Directive</h3>
        <p>Directives can work on both attribute and element levels.</p>
<div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">text-input-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>textModel<span class="pl-pds">"</span></span>
    <span class="pl-e">label</span>=<span class="pl-s"><span class="pl-pds">"</span>{{label}}<span class="pl-pds">"</span></span>
    <span class="pl-e">icon</span>=<span class="pl-s"><span class="pl-pds">"</span>{{icon}}<span class="pl-pds">"</span></span>
    <span class="pl-e">placeholder</span>=<span class="pl-s"><span class="pl-pds">"</span>{{placeholder}}<span class="pl-pds">"</span></span>
    <span class="pl-e">popover-msg</span>=<span class="pl-s"><span class="pl-pds">"</span>{{popoverMsg}}<span class="pl-pds">"</span></span>
    <span class="pl-e">error-msg</span>=<span class="pl-s"><span class="pl-pds">"</span>errorMsg<span class="pl-pds">"</span></span>
    <span class="pl-e">upper-first-letter</span>=<span class="pl-s"><span class="pl-pds">"</span>upperFirstLetter<span class="pl-pds">"</span></span>
    <span class="pl-e">is-disabled</span>=<span class="pl-s"><span class="pl-pds">"</span>isDisabled<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;

&lt;<span class="pl-ent">div</span> <span class="pl-e">list-text-input-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>listModel<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;

&lt;<span class="pl-ent">div</span> <span class="pl-e">number-input-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>numberModel<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;

&lt;<span class="pl-ent">div</span> <span class="pl-e">date-input-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>dateModel<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;

&lt;<span class="pl-ent">div</span> <span class="pl-e">array-input-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>arrayModel<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;

&lt;<span class="pl-ent">div</span> <span class="pl-e">img-input-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>imgModel<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;</pre></div>

        <p><em>Note:</em></p>
        <ul>
          <li>
          <strong>ng-model:</strong> Will try to bind to the property given by evaluating the expression on the current scope. If the property doesn't already exist on this scope, it will be created implicitly and added to the scope.</li>
          <li>
          <strong>label</strong>: Sets the label text</li>
          <li>
          <strong>icon</strong>: Sets the icon</li>
          <li>
          <strong>placeholder</strong>: Sets the input placeholder</li>
          <li>
          <strong>popover-msg</strong>: Sets the popover message</li>
          <li>
          <strong>error-msg</strong>: Sets the error message</li>
          <li>
          <strong>upper-first-letter</strong>: Capitalizes the first letter of string.</li>
          <li>
          <strong>is-disabled</strong>: Determines if the input is disabled or not.</li>
        </ul>

        <h2><a id="demonstration" class="anchor" href="#demonstration" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Demonstration</h2>
        <ul class="nav nav-tabs">
          <li class="active"><a href="#text-input">Text</a></li>
          <li><a href="#list-text-input">List Text</a></li>
          <li><a href="#number-input">Number</a></li>
          <li><a href="#date-input">Date</a></li>
          <li><a href="#array-input">Array</a></li>
          <li><a href="#img-input">Image</a></li>
        </ul>
        <div class="tab-content">
          <div id="text-input" class="tab-pane fade in active">
            <h3>Text Input</h3>
            <p>Model Value: {{textModel}}</p>
            
            <h4><a class="anchor"aria-hidden="true"><span class="octicon octicon-link"></span></a>Default</h4>
<div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">text-input-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>textModel<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;</pre></div>
            <br /><div text-input-directive ng-model="textModel"></div><br />
            
            <h4><a class="anchor"aria-hidden="true"><span class="octicon octicon-link"></span></a>Label</h4>
<div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">text-input-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>textModel<span class="pl-pds">"</span></span>
    <span class="pl-e">label</span>=<span class="pl-s"><span class="pl-pds">"</span>Label<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;</pre></div>
            <br /><div text-input-directive ng-model="textModel" label="Label"></div><br />
            
            <h4><a class="anchor"aria-hidden="true"><span class="octicon octicon-link"></span></a>Icon</h4>
<div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">text-input-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>textModel<span class="pl-pds">"</span></span>
    <span class="pl-e">icon</span>=<span class="pl-s"><span class="pl-pds">"</span>user<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;</pre></div>
            <br /><div text-input-directive ng-model="textModel" icon="user"></div><br />
            
            <h4><a class="anchor"aria-hidden="true"><span class="octicon octicon-link"></span></a>Placeholder</h4>
<div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">text-input-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>textModel<span class="pl-pds">"</span></span>
    <span class="pl-e">placeholder</span>=<span class="pl-s"><span class="pl-pds">"</span>Placeholder<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;</pre></div>
            <br /><div text-input-directive ng-model="textModel" placeholder="Placeholder"></div><br />
            
            <h4><a class="anchor"aria-hidden="true"><span class="octicon octicon-link"></span></a>Popover Message</h4>
<div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">text-input-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>textModel<span class="pl-pds">"</span></span>
    <span class="pl-e">popover-msg</span>=<span class="pl-s"><span class="pl-pds">"</span>Pop Over<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;</pre></div>
            <br /><div text-input-directive ng-model="textModel" popover-msg="Pop Over"></div><br />
            
            <h4><a class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>Error Message</h4>
<div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">text-input-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>textModel<span class="pl-pds">"</span></span>
    <span class="pl-e">error-msg</span>=<span class="pl-s"><span class="pl-pds">"</span>{{errorMsg}}<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;</pre></div>
            <div ng-init="errorMsg = '';">
              <br />
              <div>
                <label class="input-label" >errorMsg:</label><input type="text" name="error message" ng-model="errorMsg">
              </div><br />
              <div text-input-directive ng-model="textModel" error-msg="errorMsg"></div>
            </div><br />
            
            <h4><a class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>Upper First Letter</h4>
<div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">text-input-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>textModel<span class="pl-pds">"</span></span>
    <span class="pl-e">upper-first-letter</span>=<span class="pl-s"><span class="pl-pds">"</span>{{upperFirstLetter}}<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;</pre></div>
            <div ng-init="upperFirstLetter = false;">
              <br />
              <button ng-click="upperFirstLetter = !upperFirstLetter">Click me</button>
              <p>upperFirstLetter: {{upperFirstLetter}}</p>
              <div text-input-directive ng-model="textModel" upper-first-letter="upperFirstLetter"></div>
            </div><br />
            
            <h4><a class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>Disabled</h4>
<div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">text-input-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>textModel<span class="pl-pds">"</span></span>
    <span class="pl-e">is-disabled</span>=<span class="pl-s"><span class="pl-pds">"</span>{{isDisabled}}<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;</pre></div>
            <div ng-init="isDisabled = false;">
              <br />
              <button ng-click="isDisabled = !isDisabled">Click me</button>
              <p>isDisabled: {{isDisabled}}</p>
              <div text-input-directive ng-model="textModel" is-disabled="isDisabled"></div>
            </div><br />
            
          </div>
          
          <div id="list-text-input" class="tab-pane fade">
            <h3>List Text Input</h3>
            <p>Model Value: {{listTextModel}}</p>
            
            <h4><a class="anchor"aria-hidden="true"><span class="octicon octicon-link"></span></a>Default</h4>
<div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">list-text-input-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>listTextModel<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;</pre></div>
            <br /><div list-text-input-directive ng-model="listTextModel"></div><br />
            
          </div>
          
          <div id="number-input" class="tab-pane fade">
            <h3>Number Input</h3>
            <p>Model Value: {{numberModel}}</p>

            <h4><a class="anchor"aria-hidden="true"><span class="octicon octicon-link"></span></a>Default</h4>
<div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">number-input-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>numberModel<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;</pre></div>
             <br /><div number-input-directive ng-model="numberModel"></div> <br />
          </div>
          
          <div id="date-input" class="tab-pane fade">
            <h3>Date Input</h3>
            <p>Model Value: {{dateModel}}</p>
            
            <h4><a class="anchor"aria-hidden="true"><span class="octicon octicon-link"></span></a>Default</h4>
<div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">date-input-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>dateModel<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;</pre></div>
            <br /><div date-input-directive ng-model="dateModel"></div> <br />
          </div>
          
          <div id="array-input" class="tab-pane fade">
            <h3>Array Input</h3>
            <p>Model Value: {{arrayModel}}</p>
            <p>demo.json:</p>
<div class="highlight highlight-text-html-basic"><pre>{
    <span class="pl-ent">"title"</span>:<span class="pl-ent">"JSON Title"</span>,
    <span class="pl-ent">"inputs"</span>: [
        { <span class="pl-ent">"type"</span>: <span class="pl-ent">"text"</span>, <span class="pl-ent">"model"</span>: <span class="pl-ent">"Name"</span> },
        { <span class="pl-ent">"type"</span>: <span class="pl-ent">"list-text"</span>, <span class="pl-ent">"model</span>": <span class="pl-ent">"FirstName"</span>},
        { <span class="pl-ent">"type"</span>: <span class="pl-ent">"number"</span>, <span class="pl-ent">"model"</span>: <span class="pl-ent">"Size"</span> },
        { <span class="pl-ent">"type"</span>: <span class="pl-ent">"date"</span>, <span class="pl-ent">"model"</span>: <span class="pl-ent">"Birthday"</span> }
    ]
}</pre></div>
            
            <h4><a class="anchor"aria-hidden="true"><span class="octicon octicon-link"></span></a>Default</h4>
<div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">array-input-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>arrayModel<span class="pl-pds">"</span></span>
    <span class="pl-e">json</span>=<span class="pl-s"><span class="pl-pds">"</span>demo.json<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;</pre></div>
            <!-- <br /><div array-input-directive ng-model="arrayModel" json="demo.json"></div> <br /> -->
          </div>
          
          <div id="img-input" class="tab-pane fade">
            <h3>Image Input</h3>
            <p>TODO</p>
          </div>
          
        </div>
        
        
        
        <h2><a id="contributors" class="anchor" href="#contributors" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Contributors</h2>
        <p>DUBOIS Romain, Engineer R&amp;D at <a href="http://scille.eu/">SCILLE</a>
        <a href="mailto:romain.dubois@scille.fr">romain.dubois@scille.fr</a></p>
        <p>Landieth Jérôme, Engineer R&amp;D at <a href="http://scille.eu/">SCILLE</a>
        <a href="mailto:jerome.landieth@scille.fr">jerome.landieth@scille.fr</a></p>
        <p>MEZINO Vincent, Engineer R&amp;D at <a href="http://scille.eu">SCILLE</a>
        <a href="mailto:vincent.mezino@scille.fr">vincent.mezino@scille.fr</a></p>
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">sc-form maintained by <a href="https://github.com/Scille">Scille</a></p>
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.2/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/moment/moment/develop/min/moment.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/js/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript" src="javascripts/main.js"></script>
    <script type="text/javascript" src="https://rawgit.com/Scille/sc-form/master/release/scripts/form.min.js"></script>

  </body>
</html>
