<div class="sc-form form-group">
  <label ng-if="label != undefined" class="label-control">{{label}}</label>

  <div ng-show="errorMsg" class="alert alert-danger">
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    <span>{{errorMsg}}</span>
  </div>

  <div class="input-group form-group form-control" ng-show="localModel">
    <div ng-repeat="(key, elt) in localModel track by key">
      <div class="thumbnail" style="background-color:#f2f2f2;" >
        <span class="pull-right" ng-if="!isDisabled">
          <a href="javascript:void(0)" ng-click="editValue(key)"><i class="fa fa-edit"></i></a>
          <a href="javascript:void(0)" ng-click="deleteValue(key)"><i class="fa fa-close"></i></a>
        </span>
        <span ng-repeat="(id, value) in elt track by id">
          <br /><span ng-bind="id"></span>: <span ng-bind="value.file ? value.file : value"></span>
        </span>
      </div>
    </div>
  </div>

  <div>
    <input type="button" class="btn btn-primary" ng-value="addButton == '' ? 'Add' : addButton" ng-click="addValue()" ng-disabled="isDisabled" />
  <div>
</div>
