<div class="form form-group" style="z-index: 1;">
  <label ng-if="label != undefined" class="label-control">{{label}}</label>

  <div class="input-group">
    <div class="input-group-addon" ng-if="icon != undefined">
      <i class="fa fa-lg fa-{{icon}}"></i>
    </div>
    <input style="z-index: 1;" type="text" class="form-control" ng-model="localModel" ng-blur="onBlur()"
           required placeholder="{{placeholder}}" ng-disabled="isDisabled" />
    <div class="input-group-addon alert-warning" ng-show="originModel != localModel"><i class="fa fa-lg fa-pencil"></i></div>
  </div>

  <div ng-show="errorMsg" class="alert alert-danger">
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    <span>{{errorMsg}}</span>
  </div>
</div>
