<!DOCTYPE html>
<html ng-app="app">
<head>
  <link rel="shortcut icon" href="">
  <title>Form Example</title>

  <!-- injector:css -->
  <link rel="stylesheet" href="/bower_components/bootstrap-css-only/css/bootstrap.css">
  <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
  <!-- endinjector -->

</head>

<body>

  <h1>SC-FORM Examples</h1>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#text-input">Text Input</a></li>
    <li><a href="#list-text-input">List Text Input</a></li>
    <li><a href="#number-input">Number Input</a></li>
    <li><a href="#date-input">Date Input</a></li>
    <li><a href="#array-input">Array Input</a></li>
    <li><a href="#img-input">Image Input</a></li>
  </ul>

  <div class="tab-content">
    <div id="text-input" class="tab-pane fade in active">
      <h2>Text Input</h2>

      <h3>Usage</h3>
      <p>Model Value: {{textModel}}</p>

      <h3>Default</h3>
      <div text-input-directive ng-model="textModel"></div>

      <h3>Label</h3>
      <div text-input-directive ng-model="textModel" label="Label"></div>

      <h3>Icon</h3>
      <div text-input-directive ng-model="textModel" icon="user"></div>

      <h3>Placeholder</h3>
      <div text-input-directive ng-model="textModel" placeholder="Placeholder"></div>

      <h3>Popover Message</h3>
      <div text-input-directive ng-model="textModel" popover-msg="Pop Over"></div>

      <h3>Error Message</h3>
      <div ng-init="errorMsg = ''">
        <div>
          <input type="text" name="error Message" ng-model="errorMsg">
        </div></br>
        <div text-input-directive ng-model="textModel" error-msg="errorMsg"></div>
      </div>

      <h3>Upper First Letter</h3>
      <div ng-init="upperFirstLetter = true">
        <button ng-click="upperFirstLetter = !upperFirstLetter">Click me</button>
        <p>upperFirstLetter text-input: {{upperFirstLetter}}</p>
          <div text-input-directive ng-model="textModel" upper-first-letter="upperFirstLetter"></div>
      </div>

      <h3>Disabled</h3>
      <div ng-init="disabled = true">
        <button ng-click="disabled = !disabled">Click me</button>
        <p>Disabled text-input: {{disabled}}</p>
        <div text-input-directive ng-model="textModel" is-disabled="disabled"></div>
      </div>
    </div>

    <div id="list-text-input" class="tab-pane fade">
      <h2>List Text Input</h2>

      <h3>Usage</h3>
      <p>Model Value: {{listTextModel}}</p>

      <h3>Default</h3>
      <div list-text-input-directive ng-model="listTextModel"></div>

      <h3>Label</h3>
      <div list-text-input-directive ng-model="listTextModel" label="Label"></div>

      <h3>Icon</h3>
      <div list-text-input-directive ng-model="listTextModel" icon="user"></div>

      <h3>Placeholder</h3>
      <div list-text-input-directive ng-model="listTextModel" placeholder="Placeholder"></div>

      <h3>Popover Message</h3>
      <div list-text-input-directive ng-model="listTextModel" popover-msg="Pop Over"></div>

      <h3>Error Message</h3>
      <div ng-init="errorMsg = ''">
        <div>
          <input type="text" name="error Message" ng-model="errorMsg">
        </div></br>
        <div list-text-input-directive ng-model="listTextModel" error-msg="errorMsg"></div>
      </div>

      <h3>Upper First Letter</h3>
      <div ng-init="upperFirstLetter = true">
        <button ng-click="upperFirstLetter = !upperFirstLetter">Click me</button>
        <p>upperFirstLetter text-input: {{upperFirstLetter}}</p>
          <div list-text-input-directive ng-model="listTextModel" upper-first-letter="upperFirstLetter"></div>
      </div>

      <h3>Disabled</h3>
      <div ng-init="disabled = true">
        <button ng-click="disabled = !disabled">Click me</button>
        <p>Disabled text-input: {{disabled}}</p>
        <div list-text-input-directive ng-model="listTextModel" is-disabled="disabled"></div>
      </div>
    </div>

    <div id="number-input" class="tab-pane fade">
      <h2>Number Input</h2>

      <h3>Usage</h3>
      <p>Model Value: {{numberModel}}</p>

      <h3>Default</h3>
      <div number-input-directive ng-model="numberModel"></div>

      <h3>Label</h3>
      <div number-input-directive ng-model="numberModel" label="Label"></div>

      <h3>Icon</h3>
      <div number-input-directive ng-model="numberModel" icon="sort-numeric-asc"></div>

      <h3>Placeholder</h3>
      <div number-input-directive ng-model="numberModel" placeholder="Placeholder"></div>

      <h3>Popover Message</h3>
      <div number-input-directive ng-model="numberModel" popover-msg="Pop Over"></div>

      <h3>Step</h3>
      <div ng-init="stepValue = ''">
        <div>
          <input type="text" name="step" ng-model="stepValue">
        </div></br>
        <div number-input-directive ng-model="numberModel" step="stepValue"></div>
      </div>

      <h3>Error Message</h3>
      <div ng-init="errorMsg = ''">
        <div>
          <input type="text" name="error Message" ng-model="errorMsg">
        </div></br>
        <div number-input-directive ng-model="numberModel" error-msg="errorMsg"></div>
      </div>

      <h3>Disabled</h3>
      <div ng-init="disabled = true">
        <button ng-click="disabled = !disabled">Click me</button>
        <p>Disabled number-input: {{disabled}}</p>
        <div number-input-directive ng-model="numberModel" is-disabled="disabled"></div>
      </div>
    </div>

    <div id="date-input" class="tab-pane fade">
      <h2>Date Input</h2>

      <h3>Usage</h3>
      <p>Model Value: {{dateModel}}</p>

      <h3>Default</h3>
      <div date-input-directive ng-model="dateModel"></div>

      <h3>Label</h3>
      <div date-input-directive ng-model="dateModel" label="Label"></div>

      <h3>Placeholder</h3>
      <div date-input-directive ng-model="dateModel" placeholder="Placeholder"></div>

      <h3>Popover Message</h3>
      <div date-input-directive ng-model="dateModel" popover-msg="Pop Over"></div>

      <h3>Error Message</h3>
      <div ng-init="errorMsg = ''">
        <div>
          <input type="text" name="error Message" ng-model="errorMsg">
        </div></br>
        <div date-input-directive ng-model="dateModel" error-msg="errorMsg"></div>
      </div>

      <h3>Disabled</h3>
      <div ng-init="disabled = true">
        <button ng-click="disabled = !disabled">Click me</button>
        <p>Disabled date-input: {{disabled}}</p>
        <div date-input-directive ng-model="dateModel" is-disabled="disabled"></div>
      </div>

      <h3>Approximative</h3>
      <div ng-init="approximativeModel = true">
        <p>approximative date-input: {{approximativeModel}}</p>
        <div date-input-directive ng-model="dateModel" approximative-model="approximativeModel"></div>
      </div>
    </div>

    <div id="array-input" class="tab-pane fade">
      <h2>Array Input</h2>

      <h3>Usage</h3>
      <p>Model Value: {{arrayModel}}</p>

      <h3>Default</h3>
      <div array-input-directive ng-model="arrayModel" json="demo.json"></div>

    </div>

    <div id="img-input" class="tab-pane fade">
      <h2>Image Input</h2>
      <p>TODO</p>
    </div>
  </div>


  <!-- injector:js -->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="/bower_components/angular-mocks/angular-mocks.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/bower_components/moment/moment.js"></script>
  <script src="/bower_components/moment-timezone/builds/moment-timezone-with-data-2010-2020.js"></script>
  <script src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  <!-- endinjector -->
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="scripts/form.min.js"></script>

</body>
</html>
