<!DOCTYPE html>
<html ng-app="app">
<head>
  <link rel="shortcut icon" href="">
  <title>Form Example</title>

  <!-- bower:css -->
  <!-- bower installed css files will go here... -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- built css files will go here... -->
  <!-- endinject -->

</head>

<body>

  <h1>SC-FORM Examples</h1>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#text-input">Text Input</a></li>
    <li><a href="#list-text-input">List Text Input</a></li>
    <li><a href="#number-input">Number Input</a></li>
    <li><a href="#date-input">Date Input</a></li>
    <li><a href="#array-input">Array Input</a></li>
    <li><a href="#img-input">Image Input</a></li>
  </ul>

  <div class="tab-content">
    <div id="text-input" class="tab-pane fade in active">
      <h2>Text Input</h2>

      <h3>Usage</h3>
      <p>Model Value: {{textModel}}</p>

      <h3>Default</h3>
      <div sc-text-input-directive ng-model="textModel"></div>

      <h3>Label</h3>
      <div sc-text-input-directive ng-model="textModel" label="Label"></div>

      <h3>Icon</h3>
      <div sc-text-input-directive ng-model="textModel" icon="user"></div>

      <h3>Placeholder</h3>
      <div sc-text-input-directive ng-model="textModel" placeholder="Placeholder"></div>

      <h3>Popover Message</h3>
      <div sc-text-input-directive ng-model="textModel" popover-msg="Pop Over"></div>

      <h3>Error Message</h3>
      <div ng-init="errorMsg = ''">
        <div>
          <input type="text" name="error Message" ng-model="errorMsg">
        </div></br>
        <div sc-text-input-directive ng-model="textModel" error-msg="errorMsg"></div>
      </div>

      <h3>Upper First Letter</h3>
      <div ng-init="upperFirstLetter = true">
        <button ng-click="upperFirstLetter = !upperFirstLetter">Click me</button>
        <p>upperFirstLetter text-input: {{upperFirstLetter}}</p>
          <div sc-text-input-directive ng-model="textModel" upper-first-letter="upperFirstLetter"></div>
      </div>

      <h3>Disabled</h3>
      <div ng-init="disabled = true">
        <button ng-click="disabled = !disabled">Click me</button>
        <p>Disabled text-input: {{disabled}}</p>
        <div sc-text-input-directive ng-model="textModel" is-disabled="disabled"></div>
      </div>
    </div>

    <div id="list-text-input" class="tab-pane fade">
      <h2>List Text Input</h2>

      <h3>Usage</h3>
      <p>Model Value: {{listTextModel}}</p>

      <h3>Default</h3>
      <div sc-list-text-input-directive ng-model="listTextModel"></div>

      <h3>Label</h3>
      <div sc-list-text-input-directive ng-model="listTextModel" label="Label"></div>

      <h3>Icon</h3>
      <div sc-list-text-input-directive ng-model="listTextModel" icon="user"></div>

      <h3>Placeholder</h3>
      <div sc-list-text-input-directive ng-model="listTextModel" placeholder="Placeholder"></div>

      <h3>Popover Message</h3>
      <div sc-list-text-input-directive ng-model="listTextModel" popover-msg="Pop Over"></div>

      <h3>Error Message</h3>
      <div ng-init="errorMsg = ''">
        <div>
          <input type="text" name="error Message" ng-model="errorMsg">
        </div></br>
        <div sc-list-text-input-directive ng-model="listTextModel" error-msg="errorMsg"></div>
      </div>

      <h3>Upper First Letter</h3>
      <div ng-init="upperFirstLetter = true">
        <button ng-click="upperFirstLetter = !upperFirstLetter">Click me</button>
        <p>upperFirstLetter text-input: {{upperFirstLetter}}</p>
          <div sc-list-text-input-directive ng-model="listTextModel" upper-first-letter="upperFirstLetter"></div>
      </div>

      <h3>Disabled</h3>
      <div ng-init="disabled = true">
        <button ng-click="disabled = !disabled">Click me</button>
        <p>Disabled text-input: {{disabled}}</p>
        <div sc-list-text-input-directive ng-model="listTextModel" is-disabled="disabled"></div>
      </div>
    </div>

    <div id="number-input" class="tab-pane fade">
      <h2>Number Input</h2>

      <h3>Usage</h3>
      <p>Model Value: {{numberModel}}</p>

      <h3>Default</h3>
      <div sc-number-input-directive ng-model="numberModel"></div>

      <h3>Label</h3>
      <div sc-number-input-directive ng-model="numberModel" label="Label"></div>

      <h3>Icon</h3>
      <div sc-number-input-directive ng-model="numberModel" icon="sort-numeric-asc"></div>

      <h3>Placeholder</h3>
      <div sc-number-input-directive ng-model="numberModel" placeholder="Placeholder"></div>

      <h3>Popover Message</h3>
      <div sc-number-input-directive ng-model="numberModel" popover-msg="Pop Over"></div>

      <h3>Step</h3>
      <div ng-init="stepValue = ''">
        <div>
          <input type="text" name="step" ng-model="stepValue">
        </div></br>
        <div sc-number-input-directive ng-model="numberModel" step="stepValue"></div>
      </div>

      <h3>Error Message</h3>
      <div ng-init="errorMsg = ''">
        <div>
          <input type="text" name="error Message" ng-model="errorMsg">
        </div></br>
        <div sc-number-input-directive ng-model="numberModel" error-msg="errorMsg"></div>
      </div>

      <h3>Disabled</h3>
      <div ng-init="disabled = true">
        <button ng-click="disabled = !disabled">Click me</button>
        <p>Disabled number-input: {{disabled}}</p>
        <div sc-number-input-directive ng-model="numberModel" is-disabled="disabled"></div>
      </div>
    </div>

    <div id="date-input" class="tab-pane fade">
      <h2>Date Input</h2>

      <h3>Usage</h3>
      <p>Model Value: {{dateModel}}</p>

      <h3>Default</h3>
      <div sc-date-input-directive ng-model="dateModel"></div>

      <h3>Label</h3>
      <div sc-date-input-directive ng-model="dateModel" label="Label"></div>

      <h3>Icon</h3>
      <div sc-date-input-directive ng-model="dateModel" icon="calendar"></div>

      <h3>Popover Message</h3>
      <div sc-date-input-directive ng-model="dateModel" popover-msg="Pop Over"></div>

      <h3>Error Message</h3>
      <div ng-init="errorMsg = ''">
        <div>
          <input type="text" name="error Message" ng-model="errorMsg">
        </div></br>
        <div sc-date-input-directive ng-model="dateModel" error-msg="errorMsg"></div>
      </div>

      <h3>Disabled</h3>
      <div ng-init="disabled = true">
        <button ng-click="disabled = !disabled">Click me</button>
        <p>Disabled date-input: {{disabled}}</p>
        <div sc-date-input-directive ng-model="dateModel" is-disabled="disabled"></div>
      </div>

      <h3>Approximative</h3>
      <div ng-init="approximativeModel = true">
        <p>approximative date-input: {{approximativeModel}}</p>
        <div sc-date-input-directive ng-model="dateModel" approximative-model="approximativeModel"></div>
      </div>
    </div>

    <div id="array-input" class="tab-pane fade">
      <h2>Array Input</h2>

      <h3>Usage</h3>
      <p>Model Value: {{arrayModel}}</p>

      <h3>Default</h3>
      <div sc-array-input-directive ng-model="arrayModel" json="demo.json"></div>

      <h3>Add Button Name</h3>
      <div ng-init="addButton = ''">
        <div>
          <input type="text" name="add Button" ng-model="addButton">
        </div></br>
        <div sc-array-input-directive ng-model="arrayModel" json="demo.json" add-button="{{addButton}}"></div>
      </div>

      <h3>Disabled</h3>
      <div ng-init="disabled = true">
        <button ng-click="disabled = !disabled">Click me</button>
        <p>Disabled date-input: {{disabled}}</p>
        <div sc-array-input-directive ng-model="arrayModel" json="demo.json" is-disabled="disabled"></div>
      </div>

    </div>

    <div id="img-input" class="tab-pane fade">
      <h2>Image Input</h2>
      <p>TODO</p>
    </div>
  </div>


  <!-- bower:js -->
  <!-- bower installed scripts will go here... -->
  <!-- endinject -->
  <script type="text/javascript" src="app.js"></script>
  <!-- inject:js -->
  <!-- app scripts will go here... -->
  <!-- endinject -->

</body>
</html>
